.bfd {

  display: none;
}

#datares {
border: 1px;

}

#ddf {

  display: :none;
}
#ddf {

  display: :none;
}

#datares {
border: 1px;

}

#ddf {

  display: :none;
}
#datares {
border: 1px;

}

#ddf {

  display: :none;
}
#datares {
border: 1px;

}

#ddf {

  display: :none;
}
